[Desktop Entry]
Version=1.0
Type=Application
Name=Announcements Settings
Comment=UNIPI Announcements Settings
Exec=python3 ../utils/UIHandler.py
Icon=/home/rounnus/Desktop/icon.png
Path=
Terminal=false
StartupNotify=true
